<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
<head>
  <title>Event page</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Event</h1>
    
    <div class="container-fluid">
      <div class="row">
        <div class="card" style="font-size:20px;">
          <div class="card-body">
            <p class="card-text"><i class="fa fa-bolt" style="padding-right:10px;"></i><span th:text="${event.name}"/></p>
            <p class="card-text"><i class="fa fa-map-marker" style="padding-right:10px;"></i><span th:text="${event.venue.name}"/></p>
            <p class="card-text"><i class="fa fa-calendar" style="padding-right:10px;"></i><span th:text="${event.date}"/></p>
            <p class="card-text"><i class="fa fa-clock-o" style="padding-right:10px;"></i><span th:text="${event.time}"/></p>
            <p class="card-text"><span th:text="${event.description}"/></p>
            <div sec:authorize="hasRole('ADMINISTRATOR')">
            <p>
              <a type="submit" class="btn btn-info" th:href="${'/events/update/'+{event.id}}"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit</a>
            </p>
            <p>
              <a type="submit" class="btn btn-danger" th:href="${'/events/delete/'+{event.id}}"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</a>
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
      
  </div>
</body>
</html>