<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
<head>
  <title>Event page</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />
  
<style>
	body { margin:0; padding:0; }
	#map { position:relative; top:0; bottom:0; width:100%; height: 200px;}
</style>
</head>
<body>
  <div layout:fragment="content">
    <h1>Event</h1>
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          
          <th><i class="fa fa-bolt"></i> Event</th>
          <th><i class="fa fa-map-marker"></i> Venue</th>
          <th><i class="fa fa-calendar"></i> Date</th>
          <th><i class="fa fa-clock-o"></i> Time</th>
          <th>Description</th>
          <div sec:authorize="hasRole('ADMINISTRATOR')">
            <th><i class="glyphicon glyphicon-pencil"></i> Edit </th>
            <th><i class="fa fa-close"></i> Delete</th>
          </div>
    </tr>
      </thead>
      <tbody>
        <tr>
          <td><a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.name}">My Event</a></td>
          <td><a th:href="@{/venues/{id}(id=${event.venue.id})}" th:text="${event.venue.name}">Event Venue</a></td>
          <td th:text="${{event.date}}">Event date</td>
          <td th:text="${{event.time}}">Event time</td>
          <td th:text="${{event.description}}">Event description</td>
          <div sec:authorize="hasRole('ADMINISTRATOR')">
            <td>
              <a type="submit" class="btn btn-info" th:href="${'/events/update/'+{event.id}}"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit</a>
            </td>
            <td>
              <a type="submit" class="btn btn-danger" th:href="${'/events/delete/'+{event.id}}"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</a>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
    
    
    <div class="row"><div class="col-lg-12">
          <div id='map'></div>
    </div>
    
	<script th:inline="javascript"> 
		events = [];
	</script>

	<script th:each="e : ${event}" th:inline="javascript">
		events.push({'event': [[${e.name}]], 'date': [[${{e.date}}]], 'time': [[${{e.time}}]],
					'venue': [[${e.venue.name}]],'lat': [[${e.venue.lat}]], 'lng': [[${e.venue.lng}]]});
	</script>
	
	<script th:inline="javascript">
		L.mapbox.accessToken = 'pk.eyJ1IjoibWFyY2VsNDF4ZCIsImEiOiJjanRmcGE2bjEwZzFxM3lycm90bXB6cndnIn0.sYaAHPeiuJ5ivfyBE8sCAQ';
		var map =	L.mapbox.map('map').setView([53.46, -2.235], 11)
    								   .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

		events.forEach(function(event) {
				L.marker([event.lat, event.lng], {
		    				icon: L.mapbox.marker.icon({
		        				'marker-size': 'large',
		        				'marker-symbol': 'marker',
		        				'marker-color': '#fa0'
		    					})
							}).addTo(map)
							.bindPopup(L.popup()
							.setLatLng([event.lat, event.lng])
							.setContent(event.event)).closePopup();
							
							map.setView([event.lat,event.lng], 11, {animation: true});
						});
		console.log(events);
		
		
    
	</script>
	
  </div>
</body>
</html>