<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
<head>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>All events</h1>
	<h3>Upcoming events</h3>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
        
          <th><i class="fa fa-bolt"></i> Event</th>
          <th><i class="fa fa-map-marker"></i> Venue</th>
          <th><i class="fa fa-calendar"></i> Date</th>
          <th><i class="fa fa-clock-o"></i> Time</th>
          <div sec:authorize="hasRole('ADMINISTRATOR')">
              <th><i class="glyphicon glyphicon-pencil"></i> Edit </th>
              <th><i class="fa fa-close"></i> Delete</th>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${future_events}">
          <td><a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}">My Event</a></td>
          <td th:text="${{e.venue.name}}">Event venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <div sec:authorize="hasRole('ADMINISTRATOR')">
          <td>
          	<a type="submit" class="btn btn-info" th:href="${'/events/update/'+{e.id}}"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit</a>
          </td>
          <td>
          	<a type="submit" class="btn btn-danger" th:href="${'/events/delete/'+{e.id}}"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</a>
          </td>
          </div>
        </tr>
      </tbody>
    </table>
    <h3>Previous events</h3>
    
    
    
    
    
    
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
        
          <th><i class="fa fa-bolt"></i> Event</th>
          <th><i class="fa fa-map-marker"></i> Venue</th>
          <th><i class="fa fa-calendar"></i> Date</th>
          <th><i class="fa fa-clock-o"></i> Time</th>
          <div sec:authorize="hasRole('ADMINISTRATOR')">
              <th><i class="glyphicon glyphicon-pencil"></i> Edit </th>
              <th><i class="fa fa-close"></i> Delete</th>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${past_events}">
          <td><a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}">My Event</a></td>
          <td th:text="${{e.venue.name}}">Event venue</td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <div sec:authorize="hasRole('ADMINISTRATOR')">
          <td>
          	<a type="submit" class="btn btn-info" th:href="${'/events/update/'+{e.id}}"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit</a>
          </td>
          <td>
          	<a type="submit" class="btn btn-danger" th:href="${'/events/delete/'+{e.id}}"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</a>
          </td>
          </div>
        </tr>
      </tbody>
    </table>
    
    
    
    
    
    
    
    
    
    <!-- below we have the creation of a button that when pressed will redirect to new html page-->
    <p>
      <a class="btn btn-primary" role="button" href="/events/new"><i class="fa fa-plus" aria-hidden="true"></i> New event</a>
    </p>

	<p>
      <a class="btn btn-primary" role="button" href="/events/search"><i class="fa fa-plus" aria-hidden="true"></i> Search By Name</a>
    </p>
  </div>

</body>
</html>
