<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new Event</h1>
    <!--The following is code that will implement required fields that will help to create an event object in the system -->
    <form action="#" th:action="@{/events}" th:object="${event}" method="post">
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">Event Name</label>
        <input class="form-control" type="text" name="name" id="name" th:value="${event.name}" placeholder="Rihanna Concert" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('date')}? has-error">
        <label for="date">Date</label>
        <input class="form-control" type="date" name="date" id="date" th:value="${{event.date}}" placeholder="yyyy-MM-dd" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">errors</p>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('time')}? has-error">
        <label for="time">Time</label>
        <input class="form-control" type="time" name="time" id="time" th:value="${{event.time}}" placeholder="HH:mm" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">errors</p>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('venue')}? has-error">
      <!--For venues we need to recollect all the veneues in an attribute from the controller and then iterate through this attribute 
      	  and displaying in option function -->
        <label for="venue">Venue</label>
        <select th:field = "*{venue}" class = "form-control" id="venue">
        <option th:each="venue :${venues}" th:value="${venue.id}" th:text = "${venue.name}"></option>
        </select>
        <p class="text-danger" th:if="${#fields.hasErrors('venue')}" th:errors="*{venue}">errors</p>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('description')}? has-error">
        <label for="name">Description</label>
        <input class="form-control" type="text" name="description" id="description" th:value="${event.description}" placeholder="Add some descriptions..." autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">errors</p>
      </div>
      <button class="btn btn-primary" type="submit"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>
