<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/default}">
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
<head>
  <title>Venue page</title>
</head>
<body>
  <div layout:fragment="content">
    <h1><a href="/venues/">Venue</a></h1>
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          
          <th><i class="fa fa-bolt"></i> Venue</th>
          <th><i class="fa fa-map-marker"></i> Address</th>
          <th><i class="fa fa-map-marker"></i> Postcode</th>
          <th><i class="fa fa-calendar"></i> Capacity</th>
          <div sec:authorize="hasRole('ADMINISTRATOR')">
            <th><i class="glyphicon glyphicon-pencil"></i> Edit </th>
            <th><i class="fa fa-close"></i> Delete</th>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a th:href="@{/venues/{id}(id=${venue.id})}" th:text="${venue.name}">Venue Name</a></td>
          <td th:text="${venue.address}">Venue Address</td>
          <td th:text="${{venue.postcode}}">Venue Postcode</td>
          <td th:text="${{venue.capacity}}">Venue Capacity</td>
          <div sec:authorize="hasRole('ADMINISTRATOR')">
            <td>
              <a type="submit" class="btn btn-info" th:href="${'/venues/update/'+{venue.id}}"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit</a>
            </td>
            <td>
              <a type="submit" class="btn btn-danger" th:href="${'/venues/delete/'+{venue.id}}"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Delete</a>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
    
    <p>
	  <a class="btn btn-primary" role="button" href="/venues"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Venue List</a>
	</p>
	
  </div>
</body>
</html>